@font-face {
  font-family: "Styrene A Web";
  src: url(./StyreneAWeb/StyreneAWeb-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Styrene A Web";
  src: url(./StyreneAWeb/StyreneAWeb-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Styrene A Web";
  src: url(./StyreneAWeb/StyreneAWeb-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Styrene A Web";
  src: url(./StyreneAWeb/StyreneAWeb-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}